.catalogs {
  @media (min-width: $desktop-width) {
    padding-top: 80px;
  }
}

.catalogs__list {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
  }
}

.catalogs__item {
  background-color: $basic-grey-light;
  margin-top: 20px;

  @media (min-width: $tablet-width) {
    width: 100%;
    margin-top: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
  }
}

.catalogs__type {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: $basic-black;
  padding-top: 30px;
  padding-left: 90px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding-top: 77px;
    padding-left: 53px;
  }
}

.catalogs__description {
  margin: 0;
  margin-top: 30px;
  padding: 0 20px 23px 20px;
  border-bottom: 1px solid $special-separator;

  @media (min-width: $tablet-width) {
    width: 55%;
    border: none;
    font-size: 16px;
    line-height: 24px;
    padding-left: 50px;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    padding-right: 50px;
  }
}

.catalogs__link {
  display: block;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $basic-black;
  margin-top: 15px;
  padding: 0 20px 18px 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 57px;
  }
}
