.demo {
  background-color: $basic-grey;
  padding-bottom: 25px;
}

.demo h2 {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  color: $basic-black;
}

.demo__number {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: $basic-black;
}

.demo__description {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  color: $special-grey-dark;
}

.demo__costs {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: $basic-black;
  text-align: center;
}
