.food-form {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special-grey-dark;
  padding-bottom: 30px;
}

.food-form__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    gap: 80px;
  }
}

.food-form fieldset {
  margin-top: 25px;
}

.food-form legend {
  font-size: 24px;
  line-height: 26px;
  text-transform: none;
  color: $basic-black;
}

.food-form__general-info {
  @media (min-width: $desktop-width) {
    width: 570px;
  }
}

.food-form__program-type {
  @media (min-width: $desktop-width) {
    width: 570px;
  }
}

.food-form input {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special-grey-dark;
  margin-bottom: 15px;
}

.food-form textarea {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special-grey-dark;
  margin-bottom: 15px;
  width: 100%;
}

.food-form__submit {
  margin-top: 35px;
  margin-bottom: 20px;
  display: block;
  font-size: 16px;
  line-height: 20px;
}

.food-form__notice {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-style: normal;
  font-weight: normal;
  text-transform: none;
  color: $basic-black;
}

.food-form__submit-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    gap: 60px;
  }

  @media (min-width: $desktop-width) {
    gap: 80px;
  }
}
