.map {
  @media (min-width: $desktop-width) {
    position: relative;
    margin-top: 86px;
  }
}

.map__header {
  background-color: $basic-grey-light;
  display: flex;
  justify-content: space-between;
  padding-top: 28px;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    box-sizing: border-box;
    width: 570px;
    left: 110px;
    top: 95px;
    padding: 66px 90px 60px 76px;
  }
}

.map__header h2 {
  width: 140px;
}

.map__address {
  width: 140px;

  @media (min-width: $tablet-width) {
    width: 160px;
    text-align: right;
    font-size: 16px;
    padding-right: 40px;
  }
}

.map__header--white {
  background-color: $basic-white;
}

.map__slogan {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #111111;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;
    padding-left: 40px;
  }
}

.map__img {
  text-align: center;
}
