.promo {
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
  color: $basic-white;
  font-family: "Oswald", "Arial", sans-serif;
  width: 100%;
  text-align: center;

  @media (min-width: $tablet-width) {
    background: none;
    padding-left: 87px;
    position: relative;
  }
}

.promo__title {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;

  @media (min-width: $tablet-width) {
    color: $basic-black;
    text-align: left;
    font-size: 60px;
    line-height: 60px;
  }
}

.promo__slogan {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    color: $basic-black;
    text-align: left;
    font-size: 20px;
    line-height: 20px;
  }
}

.promo__button {
  font-size: 14px;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 230px;
    left: 87px;
  }
}
