.site-list {
  list-style: none;
  display: flex;
  gap: 35px;
}

.site-list__item {
  padding-bottom: 10px;
}

.site-list__item--active {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: $basic-green;

  @media (min-width: $desktop-width) {
    border-bottom-color: $basic-white;
  }
}

.site-list__item a {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
    font-weight: normal;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
    font-weight: normal;
    color: $basic-white;
  }
}
